name: Docs-to-Wiki

on:
  push:
    paths:
      - '**.md'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      # Additional steps to generate documentation in "Documentation" directory
      - name: Upload Documentation to Wiki
        uses: SwiftDocOrg/github-wiki-publish-action@rsync
        with:
          path: "docs"
        env:
           GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
