on:
  issues:
    types: [labeled]
jobs:
  Move_Labeled_Issue_On_Project_Board:
    if: ${{ false }}
    runs-on: ubuntu-latest
    steps:
    - uses: konradpabjan/move-labeled-or-milestoned-issue@v2.0
      with:
        action-token: "${{ secrets.GH_TOKEN }}"
        project-url: "https://github.com/stacksgov/Stacks-Project-Launchpad/projects/3"
        column-name: "Application in Review"
        label-name: "Grant Status: (b) Application in Review"
